aiohttp
aiosignal
astroid
async-timeout
asyncio
attrs
chardet
charset-normalizer
DateTime
discord
discord.py
dismusic
distro
ffmpeg
frozenlist
humanfriendly
idna
isort
jedi
Kivy
lazy-object-proxy
mccabe
multidict
packaging
parso
pkgconfig
platformdirs
pybind11
pygame
pyjnius
pylint
pyparsing
PySDL2
pytz
scikit-build
six
toml
typed-ast
typing-extensions
wavelink
wrapt
yarl
zope.interface
